*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url(Abstract-Circle-Powerpoint-Template4.jpg);
}
.i1{
    width: 300px;
    height: 30px;
    margin: 30px auto; 
}
#id2{
    margin: -20px auto;
    font-size: 18px;
    width: 300px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    background-color:rgba(128, 208, 208, 0.374);
    border-radius:10px;
}
#div2{
    display: flex;
    margin: -20px auto;
}
.dd3{
    margin: auto ;
    width: 80px;
    font-size: 20px;
    border-radius: 5px;
    background-color:rgba(128, 208, 208, 0.374);
    border-radius:12px;
}
#par{
    background-color: rgb(157, 197, 226);
    border-radius: 20px;
    margin: 30px auto;
    width: 400px;
    height: 600px;
}
h1{
    margin: 0px 10px;
    padding: 20px 10px 10px 115px;
}
p{
    width: 200px;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 20px 10px 10px 20px;
}
p:hover{
    cursor: context-menu;
    color: rgba(0, 0, 0, 0.495);
}
.butt:hover{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.479);
}
.butt{
    border-radius: 10px;
    font-size: 15px;
    width: 10px;
    height:15px;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin: -40px 0px 0px 350px; 
    text-align: center;
    color: red; 
}
